<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>eFootball 6.0</title>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Oswald:wght@300;400;600;700&amp;family=Rajdhani:wght@400;600;700&amp;display=swap" rel="stylesheet"/>



<link href='{{ url_for("static", filename="css/index.bundle.css") }}' rel="stylesheet"/></head>
<body>
{% include 'partials/screens/s-home.html' %}
{% include 'partials/screens/s-calendario.html' %}
{% include 'partials/screens/s-espana.html' %}
{% include 'partials/screens/s-liga.html' %}
{% include 'partials/screens/s-liga-cal.html' %}
{% include 'partials/screens/s-liga-clas.html' %}
{% include 'partials/screens/s-liga-stats.html' %}
{% include 'partials/screens/s-copa.html' %}
{% include 'partials/screens/s-copa-cuadro.html' %}
{% include 'partials/screens/s-supercopa.html' %}
{% include 'partials/screens/s-competiciones.html' %}
{% include 'partials/screens/s-champions.html' %}
{% include 'partials/screens/s-ucl-previa.html' %}
{% include 'partials/screens/s-ucl-grupos.html' %}
{% include 'partials/screens/s-ucl-playoffs.html' %}
{% include 'partials/screens/s-uel.html' %}
{% include 'partials/screens/s-uel-previa.html' %}
{% include 'partials/screens/s-uel-grupos.html' %}
{% include 'partials/screens/s-uel-playoffs.html' %}
{% include 'partials/screens/s-uecl.html' %}
{% include 'partials/screens/s-uecl-previa.html' %}
{% include 'partials/screens/s-uecl-grupos.html' %}
{% include 'partials/screens/s-uecl-playoffs.html' %}
{% include 'partials/screens/s-usc.html' %}
{% include 'partials/screens/s-intercontinental.html' %}
{% include 'partials/screens/s-ligas.html' %}
{% include 'partials/screens/s-selecciones.html' %}
{% include 'partials/screens/s-sel-cal.html' %}
{% include 'partials/screens/s-sel-clas.html' %}
{% include 'partials/screens/s-sel-stats.html' %}
{% include 'partials/screens/s-athletic.html' %}
{% include 'partials/screens/s-betis.html' %}
{% include 'partials/screens/s-sociedad.html' %}
{% include 'partials/screens/s-madrid.html' %}
{% include 'partials/screens/s-barca.html' %}
{% include 'partials/screens/s-atletico.html' %}
{% include 'partials/screens/s-albacete.html' %}
{% include 'partials/screens/s-psg.html' %}
{% include 'partials/screens/s-villarreal.html' %}
{% include 'partials/screens/s-sevilla.html' %}
{% include 'partials/screens/s-espanyol.html' %}
{% include 'partials/screens/s-getafe.html' %}
{% include 'partials/screens/s-superliga.html' %}
{% include 'partials/screens/s-superliga-cal.html' %}
{% include 'partials/screens/s-superliga-clas.html' %}
{% include 'partials/screens/s-superliga-stats.html' %}
{% include 'partials/screens/celta-screen.html' %}
{% include 'partials/screens/osasuna-screen.html' %}
{% include 'partials/screens/alaves-screen.html' %}
{% include 'partials/screens/girona-screen.html' %}
{% include 'partials/screens/oviedo-screen.html' %}
{% include 'partials/screens/levante-screen.html' %}
{% include 'partials/screens/mallorca-screen.html' %}
{% include 'partials/screens/elche-screen.html' %}
{% include 'partials/screens/valencia-screen.html' %}
{% include 'partials/screens/rayo-screen.html' %}
{% include 'partials/misc_body.html' %}
<script src="{{ url_for('static', filename='js/index.bundle.js') }}"></script>
</body>
</html>
